<div class="container">
  <div class="column">
    <h2 class="title-column">Carril 1</h2>
    <div class="item" *ngFor="let student of carril_1">
      {{ student }}
    </div>
  </div>
  <div class="column">
    <h2 class="title-column">Carril 2</h2>
    <div class="item" *ngFor="let student of carril_2">
      {{ student }}
    </div>
  </div>
  <div class="column">
    <h2 class="title-column">Carril 3</h2>
    <div class="item" *ngFor="let student of carril_3">
      {{ student }}
    </div>
  </div>
</div>
